<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ユーザー登録フォーム</h1>
    <form th:action="@{/user/create}" method="post">
        名前：<input type="text" name="name"><br>
        メール：<input type="text" name="email"><br>
        パスワード：<input type="password" name="password"><br>
        趣味：<br>
        <div th:each="hobby : ${hobbyMap}">
            <input type="checkbox" name="hobbyList" th:value="${hobby.key}" th:text="${hobby.value}">
        </div>
        <button>登録</button>
    </form>
    
</body>
</html>